@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Virgil';
  src: url('../fonts/Virgil.woff2') format('truetype');
}

body {
  color: rgb(var(--foreground-rgb));
  font-family: 'Virgil', sans-serif;
}

